@page
@model RoleSelectModel
@{
    ViewData["Title"] = "親画面";
}

<h2>権限選択画面</h2>
<div class="mt-4">
    <p>現在は顔パス（SSO認証済み）状態です。</p>
    
    <form method="post">
        <button type="submit" asp-page-handler="Logout" class="btn btn-danger">
            完全にログアウトする（もう一度ログイン画面へ）
        </button>
    </form>

    <form method="post">
        <button type="submit" asp-page-handler="SaveSession" class="btn btn-primary m-2">
            権限を「Admin」にしてセッションに保存
        </button>

        <button type="submit" asp-page-handler="SaveCookie" class="btn btn-secondary m-2">
            テーマを「DarkMode」にしてクッキーに保存
        </button>

        <button type="submit" asp-page-handler="ClearAll" class="btn btn-danger m-2">
            すべて削除（ログアウト）
        </button>

        <button type="submit" asp-page-handler="Check" class="btn btn-primary accordion-header">
            クッキーの内容確認
        </button>
    </form>
</div>